content .container{
}
content .row{
    margin-top: 10px;
}
/*限时抢购*/
content .scare-buying{
    overflow: hidden;
    background-color: #fff;
}
content .scare-buying div.top{
    width: 100%;
    height: 50px;
          background-color: #ED145B;
}
content .scare-buying div.top h3{
    height: 50px;
    padding-left: 20px;
    line-height:50px;
    color: #fff;
}
content .scare-buying ul{
}
content .scare-buying ul li{
    float: left;
    width: 190px;
    height: 230px;
    padding:10px 10px 30px 10px;
    overflow: hidden;
    position: relative;
    border-bottom:1px solid #eee;
}

content .scare-buying ul li:nth-child(1){
}
content .scare-buying ul li a:nth-child(1){
    display: block;
    width: 130px;
    height: 130px;
    margin:0 auto;
    /*text-align: center;*/
    position: relative;
}
content .scare-buying ul li a:nth-child(1) img{
    position: absolute;
    top:0;
    left: 5px;
}
content .scare-buying ul li:nth-child(6){
    width: 220px;
}
content .scare-buying ul li:nth-child(6) a img{
    top: -15px;
    left: -10px;
}
content .scare-buying ul li a:nth-child(2){
    display: block;
    padding: 10px 0;
    font-size: 10px;
    overflow: hidden;
}
content .scare-buying ul li div{
    width: 100%;
    height: 35px;
    line-height:35px;
    position: absolute;
    bottom: 0px;
}
content .scare-buying ul li div p,del{
    float: left;
    margin-left: 10px;
    white-space: nowrap;
}
content .scare-buying ul li div p{
    margin-left: 30px;
    color:red;
}
content .scare-buying ul li div p span{
    font-size: 20px;
    font-weight: bold;
}
content .scare-buying ul li div del{
    padding-top:3px;
    color:gray !important;
}
content .scare-buying ul a:hover {
    text-decoration: none;
}
content .scare-buying ul li:hover a p{
    color:red !important;
}