
#content-model{
	background-color: #eee;
	position: relative;
	width: 1165px;
	height: 2200px;
	/*background-color: green;*/
	margin: 0 auto;
	overflow: hidden;
}
#content-model ul{
	position: absolute;
	top: 0;
	width: 1165px;
}
/*家用电器box*/
#content-model .electrical{
	width: 1165px;
	height: 550px;
	/*background-color: red;*/
}
/*家电左侧*/
#content-model .electrical-left{
	width: 580px;
	height: 550px;
	background-color: #fff;
	margin-right: 5px;
}

/*顶部*/
#content-model .electrical-left .top{
	width: 580px;
	height: 58px;
	background-color: #674083;
	line-height: 58px ;
	position: relative;
}
/*家电右侧*/
#content-model .electrical-right{
	width: 580px;
	height: 550px;
	background-color: #fff;
}
#content-model .electrical-right .top{
	width: 580px;
	height: 58px;
	background-color: #4c5e8c;
	line-height: 58px;
	position: relative;
}
#content-model h3{
	color: #fff;
	font-size: 22px;
	margin-left: 20px;
	line-height: 58px;
}
#content-model .icon-sys{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 130px;

}
#content-model .top a{
	margin-top: 15px !important;
	height: 24px;
	line-height: 24px;
	max-width: 100px;
	padding:0 10px !important;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
}
#content-model .electrical .top a{
	border:1px solid #6fcfce;
	margin-right: 20px;
}
#content-model .electrical .top a:hover{
	border:1px solid #fff;
	text-decoration: none !important;
}
/*内容*/
#content-model .concent{
	width: 580px;
	height: 420px;
	/*background-color: gray;*/
}

#content-model .bigImg{
	width: 193px;
	height: 260px;
	margin: 5px;
}
/*4个li*/
#content-model div.list a{
	float: left;
	width: 180px;
	height: 130px;
	margin-top: 10px;
	margin-left: 8px;
	position: relative;
	overflow: hidden;
	/*background-color: red;*/
}
#content-model div.list p.tit{
	font-size: 14px;
	color: #666;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
}
#content-model div.list span.promo{
	width: 50px;
	height: 60px;
	font-size: 14px;
	color: #666;
	position: absolute;
	left: 10px;
	top: 35px;
	
}
#content-model div.list img{
	float: right;
	position: relative;
	right: 0;
	top: 10px;
	z-index: 1;
}
/*底部三张图*/
#content-model .bottomImg{
	padding-left: 5px;
}
#content-model .bottomImg a{
	display: inline-block;
	width: 185px;
	float: left;
	margin-right: 6px;
	overflow: hidden;
	background-color: yellow;
}
#content-model .bottomImg a img{
	width: 100%;
}
/*logo*/
#content-model .concent-logo{
	width: 580px;
	height: 40px;
	/*background-color: blue;*/
	margin-top: 5px;
	position: relative;
}
#content-model div.logo{
	width: 560px;
	margin: 0 auto;
}
#content-model div.logo a{
	/*display: inline-block !important;*/
	float: left;
	width: 65px;
	height: 33px;
	border-left: 1px solid gray;
	padding: 0 10px 0 10px;
	margin:0 10px;
}
#content-model div.logo a:first-child{
	border-left:0;
}
#content-model .btnleft,.btnright:hover{
	text-decoration: none !important;
}
/*左右按鈕*/
#content-model .btnleft{
	width: 30px;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 35px;
	display: none !important;
}
#content-model .btnright{
	width: 30px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	line-height: 35px;
	display: none !important;
}
#content-model .concent-logo:hover .btnleft{
	display: block !important;
}
#content-model .concent-logo:hover .btnright{
	display: block !important;
}
.hid{
	display: none;
}
.show{
	display: block;
}