header{
    height: 50px;
    position: relative;
}
/*头部左侧*/
/*网址导航*/
header .header-left{
    position: absolute;
    top:0;
}
header .header-left div.dropdown{
    float: left;
    height: 100%;
}
header .header-left div.dropdown .dropdown-toggle{
    display: block;
    color: #777;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}
header .header-left div.dropdown .dropdown-toggle:hover{
    color:red;
}
/*隐藏导航*/
header .header-left .dropdown-menu{
    top: 48px;
}
header .header-left .dropdown-menu li a{
    height: 24px;
    line-height:24px;
}
header .header-left .dropdown-menu li img{
    width: 20px;
    height: 20px;
    background-color: red;
    margin: -5px 8px 0 0;
}
/*商家入驻*/
header .header-left p{
    float: left;
    color: #777;
    padding-top: 15px;
    margin-left:30px;
}
header .header-left p:hover{
    color:red;
}
.navbar-brand{
    font-size: 14px;
}
/*头部右侧*/
/*导航栏*/
nav{
    background-color: #e0e0e0 !important;
}
nav li a{
    color:#777;
}
nav li a:hover{
    color:red !important;
}
#bs-example-navbar-collapse-1 .nav li:nth-child(3){
    position: relative;
}
#bs-example-navbar-collapse-1 .nav li:nth-child(4){
    position: relative;
}
.star{
    width:15px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    top:50%;
    margin-top: -7.5px;
}
.icon-cart{
    font-family: 'cart';
}
.icon-cart:before{
    content: "\1f311";
    width: 15px;
    height: 15px;
    color:red;
    margin-right: 5px;
}

