/*去除常用元素的内偏距以及外偏距*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin:0;
	padding:0;
}
.row{
	background-color: #eeeeee;
}
/*去除列表之前的小点*/
ul,ol{
	list-style:none;
}
/*设定按钮的点击时的手指*/
button {
	cursor:pointer;
}
a{
	display:block !important;
	text-decoration:none;
	color: #000;
}
a:hover{
	color:red !important;
	text-decoration: none !important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.hid{
	display: none;
}
.margin-left{
	margin-left: 10px !important;;
}
.footer-width{
	width: 190px;
}
body{
	background-color: #fff !important;
}
.bkg-purple{
	background-color: #A2007C;
}
.bkg-red{
	background-color: red;
}
.bkg-gray{
	background-color: #eeeeee;
}
.text-red{
	color: red !important;
}
.text-gray{
	color: #666;
}
#footer{
	background-color: #eee;
}
/*.container{*/
/*width:1100px;*/
/*margin:0 auto;*/
/*background-color: red;*/
/*}*/
.whole{
	width: 1165px;
	/*height: 500px;*/
	position: relative;
	overflow: hidden;
	left: 50%;
	margin-left: -582px;

}
.logo{
	height: 60px;
}
.logo a span{
	width: 270px;
	height: 60px;

}
.logo .bt{
	width: 60px;
	height: 28px;
	border: 2px solid #c91623;
	background: #c91623;
	color: #fff;
	text-align: center;
	font-weight: 700;
	margin-top: 20px;
}
.logo .tet{
	height: 28px;
    line-height: 28px;
    width: 260px;
    padding: 3px 5px;
    margin-top: 20px;
    border: 2px solid #c91623;
}
.products {
	width: 1165px;
	height: 40px;
	margin-top: 10px;
	background-color: #fff;
}
.products a{
	display: block;
	text-decoration: none;
	text-align: center;
	height: 37px;
	font-size:20px;
	color: #000;
	font-weight: 700;
	line-height:38px;
	border-bottom:3px solid white;
	float: left;
	margin-right:20px; 
}

.products a.red{
	color: #c91623;
	border-bottom:3px solid #c91623;
}
.main {
	width: 1165px;
	height: 100%;
	float: left;
	overflow: hidden;
	background-color: #fff;
}
.main .label{
	width: 1165px;
	height: 43px;
	background:#f3f3f3;
	float: left;
	line-height: 45px;
}
.main .label input{
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 5px;
}
.main .label p{
	margin-right: 80px;
	font-size: 13px;
	color: #666;
	font-family: "宋体";
}
.main .zy{
	width: 1165px;
	height: 40px;
	font-size: 13px;
	border-bottom: 2px solid #666;
	background-color: #fff;

}
.main .zy input{
	margin-top: 15px;
}
.main .zy a{
	display: block;
	margin-top: 14px;
	color: #fff;
	background-color: #e4393c;
	margin-left: 10px;
}
/*手机*/

.handset{
	width: 1165px;
	height: 160px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
.handset .item{
	width: 1165px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #ddd;

}
.handset .item a{
	display: block;
	color: #666;
	font-size: 12px;
	margin-left: 30px;
}
.handset .item a:hover{
	color: red;
}
.handset .ceel{
	width: 100%;
	height: 118px;
	border-bottom: 2px solid #666;
	background-color: #fff;
}

.handset .ceel .i-checkbox{
	margin-top: 20px;
}
.handset .ceel .goods{
	width: 50%;
	height: 118px;
}
.handset .ceel .goods .a-img{
	display: block;
	width: 80px;
	height: 80px;
	border: 1px solid #ddd;
	margin: 18px 20px;

}
.handset .ceel .goods .a-img img{
	width: 60px;height: 60px;
	margin: 10px 10px ;
}
.handset .ceel .goods .a-p{
	width: 200px;
	height: 30px;
	color: #333;
	font-size: 13px;
	margin-top: 20px;
}
.handset .ceel .goods .a-p:hover{
	color: red;
}
.handset .ceel .goods .color{
	color: #666;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 20px;
}
.handset .ceel .goods .name{
	width: 300px;
	height: 60px;
	margin-top: 10px;
}
.handset .ceel .goods .name i{
	width: 17px;
	height: 17px;
	background-image: url("../images/shopping_trolley/cart-icons-2017.png");
	background-position: -54px -23px;
	position: absolute;
}
.handset .ceel .goods .name p{
	color: #6679b3;
	font-size: 12px;
	margin-left: 20px;
}
.handset .ceel .price{
	width: 80px;
	height: 100%;
}

.handset .ceel .price p{
	display: block;
    color: #333;
    font-weight: 400;
	float: right;
	margin-top: 20px;
}
.handset .ceel .price a{
	display: block;
    /*width: 60px;*/
    border: 1px solid #f9d2d3;
    color: #e4393c;
    height: 18px;
    float: right;font-size: 13px;
	overflow: hidden;
}
.handset .ceel  a:hover{
	text-decoration: none !important;
}
.handset .ceel .quantity{
width: 150px;
height: 80px;
}
.handset .ceel .quantity input{
	width:50px;
	height: 22px;
	float: right;
	margin-top: 20px;
	padding: 1px 20px;
	text-align: center;
}
.handset .ceel .quantity a{
	display: block;
	width: 20px;
	height: 22px;
	float: right;
	margin-top: 20px;
	border: 1px solid #ccc;
	line-height: 20px;
	text-align: center;

}
.handset .ceel .quantity p{
	width: 80px;
	color: #aaa;
	font-size: 12px;
	float: left;
	text-align: center;
	margin-left: 63px;
    
}
.handset .ceel .sum{
	width: 100px;
	height: 30px;
}
.handset .ceel .sum p{
	margin-top: 20px;
	float: right;
	color: #333;
    font-weight: 700;
    display: block;
}
.handset .ceel .ops{
	width: 120px;
	height: 100%;
}
.handset .ceel .ops a{
	display: block;
	    color: #666;
	    font-size: 13px;
	margin-top: 20px;
	text-align: left;

}

.handset .ceel .ops a:hover{
	color: red;
}
.handset .ceel .ops a.a2{
	margin-top: -3px;
}
.bottom{
	width: 100%;
	height: 53px;
	margin-top: 30px;
	border-bottom:  2px solid #ddd;
	border-top:  2px solid #ddd;
	background-color: #fff;

}
.bottom input{
	margin-top:20px;
}
.bottom .left{
	width: 500px;
	height: 53px;
	line-height:55px;

}
.bottom .left  a{
   	margin-left: 10px;
    color: #666;
    font-size:13px;
}
.bottom .left  a:hover{
	color: red;
}
.bottom .right{
	width: 500px;
	height: 53px;
}
.bottom .right .right-1{
	width: 96px;
	height: 55px;
	background-color: #C81623;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.bottom .right i{
	width: 12px;
	height: 18px;
	background-image: url("../images/shopping_trolley/price-tips.png");
	background-position: 0 0;
	position: absolute;
	margin-left: 370px;
	margin-top:7px;
}
.bottom .right .tex-1{
	font-size: 20px;
    color: #e4393c;
    font-weight: 700;
    margin: 7px 0 0;
    margin-right: 60px;
 }
.bottom .right .tex-2{
	font-size: 16px;
	text-align: right;
    color: #999;
    margin: 7px 0 0;
}
.bottom .right .right-2{
	display:block;
	width: 150px;
	height: 12px;
	font-size: 12px;
	float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 20px 0;
}
.bottom .right .tex-3{
	display:block;
    text-align: right;
    font-family: verdana;
    color: #666;
	position: absolute;
	margin-left: 285px;
	margin-top: 30px;
}
.bottom .right .tex-4{
	text-align: right;
    color: #999;
    position: absolute;
    margin-top: 30px;
    margin-left: 230px;
}
.Lovely{
	width: 1165px;
	height: 360px;
	float: left;
	margin-top: 30px;
	padding-left:10px;
	background-color: #fff;
}
.Lovely .extra-l{
	width: 1165px;
	height: 40px;
	line-height: 40px;
}
.Lovely .extra-l .c-item{
	display: block;
	float: left;
	color: #666;
	border-bottom: 2px solid #fff;
	margin-right: 25px;
}
.Lovely .extra-l .b-item{
	display: block;
	float: left;
	margin-right: 25px;
	color: red;
	border-bottom: 2px solid red;
}

.s-panel{
	width: 1165px;
	height: 285px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}
.s-panel ul{
	width: 1165px;
	height: 285px;
	position: absolute;
	display: none;
}
.s-panel ul div{
	width: 1165px;
	height: 285px;
	text-align: center;
	line-height: 285px;
}
.s-panel ul.shows{
	display: block;
}
.s-panel ul li{
	width: 250px;
	height: 280px;
	float: left;
	border: 1px dashed #666;
	margin-right: 30px;
}
.s-panel ul li:hover{
	border: 1px solid red;
}
.s-panel ul li a{
	display: block;
	width: 250px;
	height: 200px;
}
.s-panel ul li a img{
	width: 140px;
	height: 140px;
	margin-left: 50px;
	margin-top: 20px;
}
.s-panel ul li a p{
	color: #333;
	font-size: 12px;
	width: 200px;
	height: 32px;
	padding-left: 25px;
	padding-right: 25px;
	overflow: hidden;
}
.s-panel ul li span{
	display: block;
	width: 250px;
	height: 20px;
	font-size: 18px;
	color: red;
	text-align: center;
}
.s-panel ul li .st{
	width: 125px;
	height: 25px;
	border: 1px solid #666;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	margin-left: 60px;
	margin-top: 10px;
	cursor: pointer;
}
.s-panel ul li .st:hover{
	color: #fff;
	background-color: red;
}